.terraform/
modules/settings.nix
*.tfstate
*.tfstate.*
terraform.tfvars
id_ed25519
id_ed25519.pub
infra/id_ed25519
infra/id_ed25519.pub
settings.nix
config.env
.devenv/
.direnv/
devenv.lock
node_modules
dist
.DS_Store
/takeout/
.claude
./webmail/test-results/
